body {
    font-family:'Times New Roman', Times, serif;
    background-image: url(back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 50px;
    padding: 100px;
    color: #000000; /* Altera a cor do texto*/
}
  
  .center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    }
   
  h1 {
    font-style: oblique;
    font-size: 25px; /* Aumenta o tamanho da fonte para maior destaque */
    text-align: center;
    margin-bottom: 1px; /* Adiciona um espaço inferior maior */

    
  }
  
  h2 {
    font-style: oblique;
    font-size: 22px;
    text-align: center;
    margin-bottom: 1px;

  }
  
  p, ul {
    font-size: 17px; /* Aumenta um pouco o tamanho da fonte */
    text-align: left;
    margin-bottom: 1px;
  }

  .text-box {
    background-color: rgb(255, 255, 255); /* Adicione a cor de fundo desejada */
    padding: 10px; /* Ajuste o espaçamento interno conforme necessário */
    border-radius: 50px; /* Adicione bordas arredondadas para uma aparência mais suave */
  }
  
  
